/* ## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */

/* @font-face {
    font-family: 'Hanken Grotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
} */

/* @font-face {
    font-family: 'Hanken Grotesk';
    font-display: swap;
    font-weight: 100 900;
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
} */

:root {
    --font-family: 'Hanken Grotesk', sans-serif;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-xbold: 800;
    
    --font-size-normal: 1.125rem;
    --font-size-medium: 1.25rem;
    --font-size-big: 1.5rem;
    --font-size-large: 1.75rem;
    --font-size-xlarge: 2rem;
    --font-size-xxlarge: 5rem;

    --base-reaction: 0 100% 67%;
    --base-memory: 39 100% 56%;
    --base-verbal: 166 100% 37%;
    --base-visual: 234 85% 45%;
    
    --base-violet-blue: 256 72% 46%;
    --base-persian-blue: 241 72% 46%;
    
    --base-slate-blue: 252 100% 67%;
    --base-royal-blue: 241 81% 54%;

    --base-white: 0 0% 100%;
    --base-pale-blue: 221 100% 96%;
    --base-light-lavender: 241 100% 89%;
    --base-dark-gray-blue: 224 30% 27%;

    --clr-reaction: hsl(var(--base-reaction));
    --clr-memory: hsl(var(--base-memory));
    --clr-verbal: hsl(var(--base-verbal));
    --clr-visual: hsl(var(--base-visual));
    
    --clr-violet-blue: hsla(var(--base-violet-blue));
    --clr-persian-blue: hsla(var(--base-persian-blue));

    --clr-slate-blue: hsla(var(--base-slate-blue));
    --clr-royal-blue: hsla(var(--base-royal-blue));

    --clr-white: hsl(var(--base-white));
    --clr-pale-blue: hsl(var(--base-pale-blue));
    --clr-light-lavender: hsl(var(--base-light-lavender));
    --clr-dark-grey-blue: hsl(var(--base-dark-gray-blue));

    --gradient-primary: linear-gradient(var(--clr-slate-blue), var(--clr-royal-blue));
    --gradient-circle: linear-gradient(var(--clr-violet-blue), hsla(var(--base-persian-blue) / 0));

    --padding: 2.5rem;
    --border-radius: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-normal);
    color: var(--clr-dark-grey-blue);
}

@media (min-width: 650px) { /* if width of window is 650px or bigger change layout */
    body {
        min-height: 100vh;
        display: grid;
        place-items: center;
    }
}

.result-summary {
    display: grid;
    max-width: 45rem;
}

@media (min-width: 650px) { 
    .result-summary {
        margin: 1rem;
        grid-template-columns: 1fr 1fr;
        border-radius: var(--border-radius);
        overflow: hidden;
        box-shadow: .5rem 1rem 3rem hsl(var(--base-dark-gray-blue) / .3);
    }
}

.results {
    color: hsla(var(--base-white) / .7);
    text-align: center;
    
    padding: var(--padding) calc(var(--padding) * 1.5); /* top/bottom, left/right */
    background: var(--gradient-primary);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    
    display: grid;
    align-content: start;
    gap: 2rem;
}

@media (min-width: 650px) {
    .results {
        border-radius: var(--border-radius);
    }
}

.title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-big);
}

.main-score {
    display: grid;
    place-content: center;
    width: 12rem;
    margin: auto;
    background: var(--gradient-circle);
    aspect-ratio: 1 / 1; /* makes component a square */
    border-radius: 50%;
    color: hsla(var(--base-white) / .6);
}

.main-score span {
    display: block;
    font-size: var(--font-size-xxlarge);
    font-weight: var(--font-weight-xbold);
    line-height: 1;
    color: var(--clr-white);
}

.result-details {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.rank {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--clr-white);
}

p {
    color: hsla(var(--base-white) / .7);
}

.summary {
    padding: var(--padding);

    display: grid;
    align-content: start;
    gap: 2rem;
}

.summary-section {
    display: grid;
    align-content: start;
    gap: 1rem;
}

.reaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(var(--base-reaction) / .2);
}

.memory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(var(--base-memory) / .2);
}

.verbal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(var(--base-verbal) / .2);
}

.visual {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: .5rem;
    background-color: hsl(var(--base-visual) / .2);
}

img {
    display: block;
    max-width: 100%;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex-wrap: wrap;
}

.summary-title-reaction {
    color: var(--clr-reaction);
}

.summary-title-memory {
    color: var(--clr-memory);
}

.summary-title-verbal {
    color: var(--clr-verbal);
}

.summary-title-visual {
    color: var(--clr-visual);
}

.summary-score {
    font-weight: var(--font-weight-xbold);
    color: hsla(var(--base-dark-gray-blue) / .5);
}

.summary-score span {
    color: var(--clr-dark-grey-blue);
}

.button {
    color: var(--clr-white);
    line-height: 1;
    background: var(--clr-dark-grey-blue);
    padding: 1rem 2rem; /* top/bottom left/right */
    border: 0;
    border-radius: 100vw; /* radius based on width of component */
    cursor: pointer;
}

.button:hover,
.button:focus {
    background: var(--gradient-primary);
}

footer.attribution {
    padding-top: 1rem;
}