/* ## Colors

### Primary

- Light red: hsl(0, 100%, 67%)
- Orangey yellow: hsl(39, 100%, 56%)
- Green teal: hsl(166, 100%, 37%)
- Cobalt blue: hsl(234, 85%, 45%)

## Gradients

- Light slate blue (background): hsl(252, 100%, 67%)
- Light royal blue (background): hsl(241, 81%, 54%)

- Violet blue (circle): hsla(256, 72%, 46%, 1)
- Persian blue (circle): hsla(241, 72%, 46%, 0)



### Neutral

- White: hsl(0, 0%, 100%)
- Pale blue: hsl(221, 100%, 96%)
- Light lavender: hsl(241, 100%, 89%)
- Dark gray blue: hsl(224, 30%, 27%)

### Notes

Use transparency to get the colour variations necessary to match the design. Hint: look into using `hsla()`.

## Typography

### Body Copy

- Font size (paragraphs): 18px

### Font

- Family: [Hanken Grotesk](https://fonts.google.com/specimen/Hanken+Grotesk)
- Weights: 500, 700, 800 */

/* @font-face {
    font-family: 'Hanken Grotesk';
    src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf) format(truetype);
} */

:root {
    --cc-font-family: 'Hanken Grotesk';
    --cc-font-medium: 500;
    --cc-font-bold: 700;
    --cc-font-xbold: 800;
    --cc-font-size: 18px;

    --cc-clr-reaction: hsl(0 100% 67%);
    --cc-clr-memory: hsl(39 100% 56%);
    --cc-clr-verbal: hsl(166 100% 37%);
    --cc-clr-visual: hsl(234 85% 45%);

    --cc-clr-actionable: hsla(224 30% 27% );
    
    --cc-clr-circle-1: hsla(256 72% 46% 1);
    --cc-clr-circle-0: hsla(241 72% 46% 0);
    
    --cc-clr-bg-1: hsl(252 100% 67%);
    --cc-clr-bg-2: hsl(241 81% 54%);

    --cc-clr-white: hsl(0 0% 100%);
    --cc-clr-pale-blue: hsl(221 100% 96%);
    --cc-clr-light-lavender: hsl(241 100% 89%);
    --cc-clr-dark-gray-blue: hsl(224 30% 27%);
}

body {
    font-size: var(--cc-font-size);
    font-family: var(--cc-font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--cc-clr-pale-blue);
}

div.summary {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    border-radius: 2rem;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    background: var(--cc-clr-white);
}

div.score-panel {
    background-image: linear-gradient(var(--cc-clr-bg-1), var(--cc-clr-bg-2));
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

h3.your-result {
    color: var(--cc-clr-light-lavender);
}

div.circle-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;    
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-image: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
}

h1.score {
    color: var(--cc-clr-white);
    font-size: 72px;
    line-height: 100%;
    font-weight: var(--cc-font-xbold);
}

p.total {
    margin-top: -2.8rem;
    color: var(--cc-clr-light-lavender);
    font-weight: var(--cc-font-bold);
    opacity: 0.5;
}

h2.result {
    font-size: 32px;
    font-weight: var(--cc-font-bold);
    color: var(--cc-clr-white);
}

div.result-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--cc-font-size);
}

p.description {
    font-size: var(--cc-font-size);
    color: var(--cc-clr-light-lavender);
    font-weight: var(--cc-font-medium);
}

div.summary-panel {
    background-color: white;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1;
    
}

div.reaction {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.memory {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.verbal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.visual {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

div.summary-component {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: var(--cc-font-size);
}

p.reaction-section-title {
    color: var(--cc-clr-reaction);
}

p.memory-section-title {
    color: var(--cc-clr-memory);
}

p.verbal-section-title {
    color: var(--cc-clr-verbal);
}

p.visual-section-title {
    color: var(--cc-clr-visual);
}

.detailed-score {
    color: black;
}

.max-result {
    color: gray;
}

.continue {
    background-color: var(--cc-clr-actionable);
    color: var(--cc-clr-white);
    border-radius: 3rem;
    height: 3rem;
    font-size: var(--cc-font-size);
}

footer.attribution {
    padding-top: 1rem;
}